#homicide-tracker .horizontal-component {
    padding: 10px;
}
#homicide-tracker h3 {
    border-bottom: 1px solid #AC4136;
    color: #222222;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 18px;
    margin: 0px 0 3px -2px;
    padding: 0 0 1px 4px;
    text-align: left;
    text-transform: uppercase;
}

#homicide-tracker .chatter-holder {
    padding-bottom: 15px;
    padding-top: 0;
}
#homicide-tracker .chatter-holder h1 {
    border-bottom: 1px dotted #AAA;
    font-family: "Playfair Display", Georgia, "Times", serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 48px;
    margin: 0 0 27px;
    padding: 0 3px 3px;

}
#homicide-tracker .chatter-holder .main-chatter {
    float: left;
    margin: -21px 1% 0 0;
    width: 64%;
}
#homicide-tracker .chatter-holder .main-chatter p {
    color: #555555;
    font-family: Georgia, "Times", serif;
    font-size: 13px !important;
    line-height: 21px !important;
    margin-bottom: 17px !important;
    padding-left: 6px;
}
#homicide-tracker .chatter-holder .main-chatter p.call-to-action {
    font-style: italic;
    font-weight: bold;
}
#homicide-tracker .chatter-holder .additional-links {
    background: #F1F1F1;
    float: left;
    font-family: Verdana, Arial, sans-serif;
    margin: 0 1.25%;
    padding: 0 1.25%;
    width: 30%;
}
#homicide-tracker .chatter-holder .additional-links h3 {
    border-bottom-width: 2px;
    margin-bottom: 19px;
    margin-top: 15px;
}
#homicide-tracker .chatter-holder .additional-links p {
    color: #555555;
    font-size: 11px !important;
    line-height: 21px !important;
    margin-bottom: 17px !important;
    padding-left: 6px;
}
#homicide-tracker .chatter-holder .additional-links p strong {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#homicide-tracker .chatter-holder .additional-links p a {
    color: #0A3E80;
    text-decoration: none;
}
#homicide-tracker .chatter-holder .additional-links p a:hover {
    text-decoration: underline;
}

#homicide-tracker .homicide-queries {
    margin: 0;
}

#homicide-tracker .count-holder {
    padding: 10px 5px;
}
#homicide-tracker .count-holder .count-section {
    border-left: 1px dotted #CCCCCC;
    box-sizing: border-box;
    float: left;
    height: 120px;
    padding: 10px 15px;
    width: 33.33%;
}

#homicide-tracker .count-holder .count-section.totals-count {
    border-left: 0;
}
#homicide-tracker .count-holder .count-section.totals-count p {
    font-family: Georgia, "Times", serif;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
#homicide-tracker .count-holder .count-section.totals-count p span {
    display: block;
}
#homicide-tracker .count-holder .count-section.totals-count p .count {
    color: #444444;
    font-size: 57px;
    line-height: 57px;
    margin-top: -4px;
}
#homicide-tracker .count-holder .count-section.totals-count p .hidden-space {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
#homicide-tracker .count-holder .count-section.totals-count p .count-label {
    color: #888888;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    padding: 9px 0 10px;
}

#homicide-tracker .count-holder .count-section.date-picker {
    position: relative;
}
#homicide-tracker .count-holder .count-section.date-picker h3.count-section-header {
    border-bottom: 1px solid #AC4136;
    color: #222222;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 14px;
    margin: 0 0 8px -2px;
    padding: 0 0 4px 4px;
    text-transform: uppercase;
}
#homicide-tracker .count-holder .count-section.date-picker select {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container {
    position: relative;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-display {
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    box-sizing: border-box;
    color: #888888;
    cursor: pointer;
    height: 38px;
    width: 100%;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-display>* {
    display: inline-block;
    height: 34px;
    line-height: 34px!important;
    vertical-align: middle;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-display>.ss-icon {
    color: #505050;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px!important;
    margin-left: -24px;
    padding-right: 10px;
    text-align: right;
    width: 14px;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-display>.ss-icon {
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    top: 1px;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-display:hover {
    border-color: #888888;
    color: #555555;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-display:hover>.ss-icon {
    color: #AC4136;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-display>span:not(.ss-icon) {
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 34px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list {
    position: relative;
    width: 100%;

    -webkit-transform: scale(1,0);
       -moz-transform: scale(1,0);
        -ms-transform: scale(1,0);
         -o-transform: scale(1,0);
            transform: scale(1,0);

    -webkit-transition-property: -webkit-transform;
       -moz-transition-property: -moz-transform;
            transition-property: transform;

    -webkit-transition-duration: 250ms;
       -moz-transition-duration: 250ms;
            transition-duration: 250ms;

    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
}
#homicide-tracker .count-holder .count-section.date-picker .dropdown-container.show>.dropdown-list {
    color: #333333;
    left: 0;
    position: absolute;
    top: 38px;
    z-index: 10;

    -webkit-transform: scale(1,1);
       -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
         -o-transform: scale(1,1);
            transform: scale(1,1);
}
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div {
        background: #FFFFFF;
        border: 1px solid #555555;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        z-index: 2;
    }
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div>div {
        border-bottom: 1px solid #555555;
        box-sizing: border-box;
        font-family: Verdana, Arial, sans-serif;
        font-size: 14px;
        padding: 0 15px 0 10px;
        position: relative;
        width: 100%;
    }
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div>div:first-child {
        border-radius: 5px 5px 0 0;
    }
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div>div:last-child {
        border-bottom: 0 none;
        border-radius: 0 0 5px 5px;
    }
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div>div>* {
        display: inline-block;
        line-height: 36px !important;
        vertical-align: middle;
    }
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div>div>.ss-icon {
        color: #FFFFFF;
        font-size: 0;
        font-weight: 400;
        height: 15px;
        position: absolute;
        top: 2px;
        left: 10px;
    }
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div>div:hover>.ss-icon {
        color: #999999;
        font-size:14px;
    }
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div>div.selected>.ss-icon {
        color: #AC4136;
        font-size: 14px;
    }
    #homicide-tracker .count-holder .count-section.date-picker .dropdown-container>.dropdown-list>div>div>span:not(.ss-icon) {
        box-sizing: border-box;
        color: inherit;
        letter-spacing: 2px;
        padding-left: 24px;
        position: relative;
        text-transform: uppercase;
        white-space: nowrap;
        width: 100%;
    }


    #homicide-tracker .filter-holder {
        background: #F8F8F8;
        border-bottom: 1px solid #AAAAAA;
        border-top: 1px solid #AAAAAA;
        font-family: Verdana, Arial, sans-serif;
        font-size: 11px;
        letter-spacing: 2px;
        line-height: 21px;
        overflow: hidden;
        padding: 0 0 51px;
        position: relative;
        text-transform: uppercase;
    }
    #homicide-tracker .filter-holder .all-filters {
        float: left;
        width: 100%;
    }
    #homicide-tracker .filter-holder .visible-filters {
        margin: 0;
        padding: 10px;
    }
    #homicide-tracker .filter-holder ol {
        box-sizing: content-box;
        float: left;
        list-style: none inside none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 25%
    }
    #homicide-tracker .filter-holder ol li {
        box-sizing: border-box;
        /*padding: 10px 4% 15px;*/
        padding: 10px 6% 21px;
        position: relative;
        width: 100%;
    }
    #homicide-tracker .filter-holder ol li.active {
        background: #E9E9E9;
        border: 1px solid #999999;
        box-sizing: border-box;
        margin: -1px calc(3% - 1px) calc(20px - 3%);
        padding: 10px 3% 3%;
        position: relative;
        width: calc(94% + 2px);
    }
    #homicide-tracker .chatter-holder .additional-links h3,
    #homicide-tracker .filter-holder ol li h3 {
/*        border-bottom: 1px solid #AC4136;
        color: #222222;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 3px;
        line-height: 18px;
        margin: 0px 0 3px -2px;
        padding: 0 0 1px 4px;
        text-align: left;
        text-transform: uppercase;*/
    }
    #homicide-tracker .filter-holder ol li h3 .clear-filter {
        color: #AC4136;
        cursor: pointer;
        display: none;
        float: right;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        right: 1.2%;
        top: 1.2%;
    }
    #homicide-tracker .filter-holder ol li h3 .clear-filter:hover {
        color: #555555;
    }
    #homicide-tracker .filter-holder ol li.active h3 .clear-filter {
        display: block;
    }
    #homicide-tracker .filter-holder ol li .form-element {
        padding-left: 6px;
    }
    #homicide-tracker .filter-holder ol li .dropdown {
        padding-bottom: 2px;
        padding-top: 6px;
    }
    #homicide-tracker .filter-holder ol li .graph-bar {
        background: #F0F0F0;
        border: 1px solid #777777;
        margin: 8px 3px 0 0;
        padding: 0;
    }
    #homicide-tracker .filter-holder ol li label,
    #homicide-tracker .filter-holder ol li input,
    #homicide-tracker .filter-holder ol li select,
    #homicide-tracker .filter-holder .button-holder input {
        cursor: pointer;
    }
    #homicide-tracker .filter-holder ol li input {
        display: none;
    }
    #homicide-tracker .filter-holder ol li select {
        height: 18px;
        width: 65%;
    }
    #homicide-tracker .filter-holder ol li label {
        display: block;
        position: relative;
    }
    #homicide-tracker .filter-holder ol li .graph-bar label {
        cursor: pointer;
        height: 23px;
        padding: 5px 0;
        width: 100%;
    }
    #homicide-tracker .filter-holder ol li .graph-bar label:hover {
        background: #E0E0E0;
    }
    #homicide-tracker .filter-holder ol li .graph-bar input:checked + label,
    #homicide-tracker .filter-holder ol li .graph-bar input:checked + label:hover {
        background: #D0D0D0;
    }
    #homicide-tracker .filter-holder ol li label .bar-chart {
        background: #BBBBBB;
        border: 1px solid #777777;
        border-left: 0;
        height: 23px;
        left: 0;
        margin: 4px 0;
        position: absolute;
        top: 0;
        width: 0;
    }
    #homicide-tracker .filter-holder ol li .graph-bar input:checked + label .bar-chart {
        background: #AC4136;
        border-color: #460805;
    }
    #homicide-tracker .filter-holder ol li label .input-text {
        color: #888888;
        position: absolute;
        right: 5px;
    }
    #homicide-tracker .filter-holder ol li label:hover .input-text {
        color: #6E6E6E;
    }
    #homicide-tracker .filter-holder ol li .graph-bar input:checked + label .input-text,
    #homicide-tracker .filter-holder ol li .graph-bar input:checked + label:hover .input-text {
        color: #333333;
    }

    #homicide-tracker .filter-holder .extra-filters {
        background-color: #F1F1F1;
        border-top: 1px solid #D0D0D0;
        display: none;
        margin-right: -35%;
        padding-right: 35%;
        position: relative;
        z-index: 20;
    }
    #homicide-tracker .filter-holder .extra-filters .dropdown .select {
        display: none;
    }
    #homicide-tracker .filter-holder .extra-filters.displayed .dropdown .select {
        display: block;
    }

    #homicide-tracker .filter-holder .button-holder {
        background: #E9E9E9;
        border-top: 1px solid #C0C0C0;
        bottom: 0px;
        box-sizing: border-box;
        left: 0;
        padding: 10px;
        position: absolute;
        text-align: right;
        width: 100%;
        z-index: 1;
    }
    #homicide-tracker .filter-holder .button-holder input {
        background: #F6F6F6;
        border: 1px solid #999999;
        border-radius: 8px;
        color: #555555;
        font-family: Verdana, Arial, sans-serif;
        font-size: 10px;
        letter-spacing: 2px;
        line-height: 28px;
        margin-left: 3px;
        outline: none;
        padding: 0 10px;
        text-transform: uppercase;
    }
    #homicide-tracker .filter-holder .button-holder input:hover {
        background-color: #D5D5D5;
        color: #333333;
    }
    #homicide-tracker .filter-holder .button-holder input.submit-query {
        background-color: #009930;
        border-color: #007D27;
        color: #FFFFFF;
        display: none;
    }
    #homicide-tracker .filter-holder .button-holder input.submit-query:hover {
        background-color: #007D27;
        color: #FFFFFF;
    }

#homicide-tracker .results-holder {
    padding: 15px 5px 5px;
}

#homicide-tracker .results-holder .homicide {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    margin: 1px;
    padding: 1px;
    width: 64px;
}
    #homicide-tracker .results-holder .homicide:hover {
        background-color: #F6F6F6;
    }
    #homicide-tracker .results-holder .homicide img {
        width: 100%;
    }
    #homicide-tracker .results-holder .homicide .victim-name {
        display: table;
        font-family: "Playfair Display", Georgia, "Times", serif;
        font-size: 16px;
        font-weight: 700;
        height: 56px;
        line-height: 21px;
        text-align: center;
        width: 100%;
    }
    #homicide-tracker .results-holder .homicide .victim-name .victim-name-inner {
        display: table-cell;
        vertical-align: middle;
    }
    #homicide-tracker .results-holder .homicide .victim-second-line {
        color: #999999;
        font-family: Verdana, Arial, sans-serif;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 21px;
        text-transform: uppercase;
    }
    #homicide-tracker .results-holder .homicide .victim-second-line .pull-right {
        float: right;
    }


    #homicide-tracker .results-holder {}
